<ion-header>
  <ion-toolbar color="success">
    <!-- <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button> -->
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="25/04/2023 16:29" createdAt="24/04/2023"
    notes="we have two bags that are ful, one with plastic and the other with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="25/04/2023 16:29" createdAt="24/04/2023"
    notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="23/04/2024 16:29" createdAt="24/04/2023" value="$ 15,00"
    notes="we have two bags that are full"></app-pickup-call-card>

</ion-content>
